extends layouts/main

block content
  .product-container
    .product-category-header
      .product-list-title 
        p 상품
      .search-sorting
        ul.sorting-order-options
          each sortItem, index in sortArr
            if index !== 0
              span.bg-label-secondary &nbsp;&nbsp;|&nbsp;&nbsp;
            li
              a.sorting__item-link.bg-label-secondary(href=`?sort=${sortItem.code}` class=`${sortItem.code === sortCode ? "bg-label-primary fw-bold" : ""}`)=sortItem.title
    .product-badge-container
      each item, index in adminItems       
        .product-badge-wrap
          a.product-link(href=`${routes.adminProduct}/${item._id}`)
            img.badge-img(src=item.thumbnail)
          span.product-info=`[${item.brand}]` + ' ' + `${item.name}`
          p.description=item.description
            //- - const salePrice = item.saleRatio !== 0 ? getDiscountPrice(item.price,item.saleRatio) : item.price  
            if item.saleRatio !== 0 
              .price-wrap
                p.sale-product-price=`${addComma(item.price)}원`
                .priceInfo
                  p.saleRatio=`${item.saleRatio}%`
                  p.salePrice=`${addComma(getDiscountPrice(item.price,item.saleRatio))}원`
            else
              .price-wrap
                p.product-price=`${addComma(item.price)}원`
            if item.spaceOnly 
              img.space-only-badge(src="/assets/img/products/space-only-badge.png" alt='')
    //- BEGIN: Pagination
    #pagination__flex
      if adminItems.length !== 0
        nav(aria-label="Page navigation")
          ul.pagination
            li.page-item.first
              a.page-link.waves-effect(href=`?page=1&limit=${limit}` aria-label="First")
                i.ti.ti-chevrons-left.ti-xs
            li.page-item.prev
              a.page-link.waves-effect(href=paginate.href(true) aria-label="Previous")
                i.ti.ti-chevron-left.ti-xs
            each page in pages
              if paginate.page === page.number
                li.page-item.active(aria-current='page')
                  a.page-link.waves-effect(href=page.url)=page.number
              else
                li.page-item
                  a.page-link.waves-effect(href=page.url)=page.number
            li.page-item.next
              a.page-link.waves-effect(href=`${paginate.hasNextPages(pageCount) ? paginate.href() : ""}` aria-label="Next")
                i.ti.ti-chevron-right.ti-xs
            li.page-item.last
              a.page-link.waves-effect(href=`?page=${pageCount}&limit=${limit}` aria-label="Last")
                i.ti.ti-chevrons-right.ti-xs
    //- END: Pagination
